.sign-up-form {
  position: relative;
  display: flex;
  flex-shrink: 1;
  flex-basis: 100%;
  justify-content: center;
  padding: 72px 48px;
}

.hidden-input {
  display: none;
}

.input {
  display: block;
  height: 60px;
  padding: 0 15px;
  background: #fff;
  border: 1px solid #DBE0DF;
  border-radius: 0;
}

.input-container {
  position: relative;
}

.button {
  background-color: #49c5b6;
  text-align: center;
  font-size: 15px;
  border: none;
  height: 60px;
  padding: 0 35px;
  font-weight: 600;
  cursor: pointer;
  color: #fff;
  border-radius: 0;
}

.button:hover {
  background-color: #42AB9E;
  color: #fff;
}