.search-wrapper {
  width: 80%;
}

.search-wrapper > div {
  margin: 0;
  width: 90%;
}

@media screen and (max-width: 640px) {
  .search-wrapper {
    width: 100%;
  }

  .search-wrapper > div {
    width: 100%;
  }
}
