.login-form-wrapper {
  position: relative;
  display: flex;
  flex-shrink: 1;
  flex-basis: 100%;
  justify-content: center;
  padding: 72px 48px;
  flex-direction: column;
}

.login-form {
  width: 50%;
  margin: 0 auto;
  min-width: 250px;
  max-width: 550px;
}

.login-input {
  display: block;
  height: 60px;
  padding: 0 15px;
  background: #fff;
  border: 1px solid #dbe0df;
  border-radius: 0;
  font-size: 16px;
}
