body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  background-color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}
